<%- include('partials/header'); -%>

<header>
    <div class="logo">
        <img src="/images/front.png" alt="">
    </div>
    <div class="headings">
        <h2>People, Thoughts & Little Things</h2>
        <h3>For those who love to think and write out loud</h3>
        <a href="/blogs" class="btn">Start Reading</a>
    </div>
</header>

<%- include('partials/footer'); -%>